@font-face {
  font-family: "Lost Fish";
  src: url("../assets/fonts/Lost Fish.otf");
}
@font-face {
  font-family: "Rocksalt";
  src: url("../assets/fonts/RockSalt.ttf");
}
@-webkit-keyframes greenPulse {
  from { background-color: #004a2f; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #004a2f; -webkit-box-shadow: 0 0 9px #333; }
}
@-webkit-keyframes blackPulse {
  from { background-color: #1e1f26; -webkit-box-shadow: 0 0 20px #333; }
  50% { background-color: #1e1f26; -webkit-box-shadow: 0 0 45px #1e1f26; }
  to { background-color: #1e1f26; -webkit-box-shadow: 0 0 20px #333; }
}
@-webkit-keyframes whitePulse {
  from { background-color: #fff8f0; -webkit-box-shadow: 0 0 20px #fff8f0; }
  50% { background-color: #fff8f0; -webkit-box-shadow: 0 0 45px #1e1f26; }
  to { background-color: #fff8f0; -webkit-box-shadow: 0 0 20px #fff8f0; }
}

body {
  height: auto;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);

}

header{
	background: #17223b;
	border-radius: 15px;
	height:auto;
	min-height: 130px;
	margin: 10px auto;
	padding: 20px;
	width: 95%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

header.fish h1 {
	line-height: 75%;
	padding: 20px;
	color: #fff8f0;
	top: 20%;
	font-size: 60px;
	font-family: 'Lost Fish', cursive;
	text-align: center;
	vertical-align: middle;
  margin-top: 20px;
  letter-spacing: 2rem;
}

#leftDiv {
	float:left;
}

#rightDiv {
	float:right;
}

header.fish img {
	display: block;
	width: 150px;
	height: 150px;
	top: 15px;
}

canvas {
  background-color: #1e1f26;
  }

a {
  text-decoration: none;
}
  
#sketchpad { 
  display: block;  
  border-radius: 20px;
  margin-left: 30px;
  margin-top: 30px;
  float: left;
  z-index: 100;
  -webkit-animation-name: blackPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

#previousRound {
	background-color: #fff8f0;
	height: 500px;
  border-radius: 20px;
  z-index: 100;
  float: left;
  width: 20%;
  margin-left: 300px;
  margin-top: 30px;
}

#previousRound h3 {
  padding-top: 30px;
  text-align: center;
  font-family: "Rocksalt", cursive;
  color: #ff6768;
  font-size: 1.6rem;
  text-decoration: underline;
  font-weight: bold;
}

#previousRound p {
  padding: 30px 30px 30px 30px;
  text-align: center;
  font-family: "Rocksalt", cursive;
  color: #ff6768;
  font-size: 1.4rem;
}

#previousRoundSketch {
	background-color: #1e1f26;
	width: 30%;
	margin-left: 90px;
	height: auto;
	margin-top: 45px;
	margin-bottom: 30px;
  border-radius: 20px;
  float: left;
}

#staticImage {
  background-color: #1e1f26;
  display: block;
  margin: auto;
  width: 500px;
  border-radius: 20px;
  
}

#nextBtn{
  display: block;
  border-radius: 70px;
	height: 140px;
	width: 140px;
	background-color: #004a2f;
	color:#fff8f0;
  border: none;
  z-index: 1;
  font-size: 2rem;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
}

#currentRound {
 width: 60%;
 position: relative;
 display: block;
 margin: auto;
}

.clearDiv {
  clear: both;
  margin: auto;
  overflow:hidden;
}

#right-col {
  float: right;
  text-align: center;
  width: 300px;
  margin-right: 23%;
}

#right-col-sketch {
  float: right;
  text-align: center;
  width: 300px;
  margin-right: 20%;
}


#phraseInput {
  display: block;
  width: 90%;
  height: 186px;
	margin-top: 140px;
	border-radius:25px;
  padding: 30px;
  text-align: center;
  font-family: "Rocksalt", cursive;
  color: #ff6768;
  font-size: 1.4rem;
  z-index: 100;
  -webkit-animation-name: whitePulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;

}

#timer {
  background-color: #E3170A;
  font-style: bold;
  font-family: monospace;
	font-size: 8rem;
	color:#fff8f0;
  border-radius: 33px;
  padding: 15px 15px 15px 15px;
  display: block;
  width: 50%;
  z-index: 100;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 45px;
}

#clearBtn {
  display: block;
  border-radius: 70px;
	height: 140px;
	width: 140px;
  background-color: #c59e11;
  margin-top: 30px;
	color:#fff8f0;
  border: none;
  z-index: 1;
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
}

#endBtn {
  display: block;
  border-radius: 70px;
	height: 140px;
	width: 140px;
	background-color: #473276;
	color:#fff8f0;
  border: none;
  z-index: 1;
  font-size: 2rem;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

#currentText {
  float: left;
  margin-top: 30px;
  margin-left: 30px;
  width: 25%;
  height: 500px;
}

#endResults {
  width: 50%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF8F0;
  padding: 60px;
  border-radius: 30px;
}

#endResults h3 {
  padding-top: 30px;
  text-align: center;
  font-family: "Rocksalt", cursive;
  color: #ff6768;
  font-size: 1.6rem;
  text-decoration: underline;
  font-weight: bold;
}

#endResults p {
  padding: 30px 30px 30px 30px;
  text-align: center;
  font-family: "Rocksalt", cursive;
  color: #ff6768;
  font-size: 1.4rem;
}

p {
  z-index: 100;
  position:relative;
}

footer {
  margin-top: 30px;
	position:relative;
	text-align: center;
  color:white;
  font-size: 2rem;
}

#about a:link,
a:visited {
	background-color: #17223b;
	color: white;
	min-height: 25px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	font-size: 25px;
	margin-top: 25px;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
  border-radius: 15px;
  width: 90%;

}
