@font-face {
    font-family: "Lost Fish";
    src: url("../assets/fonts/Lost Fish.otf");
  }

body {
	text-align: center;
	background-color: lightblue;
}

header.fish {
	background: rgba(8, 46, 89, 0.9);
	border-radius: 15px;
	height:auto;
	min-height: 130px;
	margin: 10px auto;
	padding: 20px;
	width: 90%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

header.fish h1 {
	line-height: 75%;
	padding: 20px;
	color: #fff;
	top: 20%;
	font-size: 60px;
	font-family: 'Lost Fish', cursive;
	text-align: center;
	vertical-align: middle;
	margin-top: 20px;
}

#leftDiv {
	float:left;
}

#rightDiv {
	float:right;
}

header.fish img {
	display: block;
	width: 150px;
	height: 150px;
	top: 15px;
}

form {
	margin: auto;
	border: 5px solid rgba(8, 46, 89, 0.9);
	width: 90%;
	height: 100px;
	background-color: rgba(8, 46, 89, 0.9);
	border-radius:25px;
}

#userInput {
	height:45px;
	width: 495px;
	margin-top: 15px;
	border-radius:25px;
	padding: 10px;
}

#startBtn {
	border-radius:35px;
	height:70px;
	width:70px;
	background-color: green;
	color:white;
	float:right;
	margin-right: 20px;
	margin-top: 15px;
	border:none;
}

